.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link:hover {
    color: rgb(127, 127, 127);
}

.button {
    padding: 14px 20px;
    border-radius: 7px;
    border: none;

    font-size: 1.2rem;

    background-color: rgb(0, 0, 0);
    color: white;
}

.button:hover {
    background: rgb(52, 52, 52);
    cursor: pointer;
}

.emphasis-text {
    color: rgb(43, 142, 255);
    font-size: 1.1rem;
}

.title {
    font-weight: 500;
    font-size: 2rem;
}

.input-field {
    padding: 12px 8px;
    width: 350px;

    border: rgb(144, 144, 144) solid 1px;
    border-radius: 8px;
    
    font-size: 1rem;
}