.signup-page {
    margin-top: 10%;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    gap: 100px;
}

.form-container {
    padding: 30px 20px;

    display:  flex;
    flex-direction: column;
    gap: 20px;
}

.sing-up-page-banner {
    background-color: black;
    color: white;
    width: 50%;
}