.header {
    position: fixed;
    inset: 12px 12px auto 12px;
    z-index: 999;
}

.header-container {
    background-color: rgb(235, 235, 235);
    border: 2px solid black;
    border-radius: 8px;
    min-height: 72px;
    
    display: flex;
    align-items: center;

    padding: 10px 14px;
    box-sizing: border-box;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-right: 2px solid black;
}

.header-logo-text {
    font-weight: 600;
    font-size: 20px;

    color: black;
    text-decoration: none;
    cursor: default;
}

.header-nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.header-nav {
    display: flex;
    justify-content: left;
    gap: clamp(12px, 3vw, 48px);
    padding: 0px 10px;
}

.user-icon {

}